Source: libtangram-perl
Section: interpreters
Priority: optional
Maintainer: Stephen Zander <gibreel@debian.org>
Standards-Version: 3.5.1
Build-Depends-Indep: debhelper (>= 3.0.5), perl (>= 5.6.1), libset-object-perl, libdbi-perl

Package: libtangram-perl
Architecture: all
Depends: ${perl:Depends}, libset-object-perl, libdbi-perl
Recommends: libdate-manip-perl
Description: Orthogonal Object Persistence in Relational Databases
 Tangram is an object-relational mapper. It makes objects persist in
 relational databases, and provides powerful facilities for retrieving
 and filtering them. Tangram fully supports object-oriented programming,
 including polymorphism, multiple inheritance and collections.
 It does so in an orthogonal fashion, that is, it doesn't require
 your classes to implement support functions nor inherit from a utility class.
 .
 Tangram builds upon DBI, so you'll need to install DBI and at least
 one DBD driver if that is not done already. You will also need
 Set::Object. These modules are available from CPAN.
 .
 If you intend to run the regression tests (recommended), you will
 also need to prepare an empty database before starting the installation
 procedure.
